@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;700&family=Roboto&display=swap');

/*------------------------------------------- Header */

#logo {
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Baloo Tammudu 2", sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}

.nav-item {
    font-family: "Roboto", sans-serif;
    margin-right: 10px; 
}    

/*------------------------------------------- Footer */

#footer {
    text-align: center;
    background-color: #757575;
    color: #fff;
    font-size: 12px;
    
}

.social-media {
    margin-top: 10px;
    margin-bottom: 5px;
}

.social-media li a i {
    color:#fff;
    width: 40px;
    font-size: 25px;
}

.copyright-text {
    margin-bottom: 10px;
}
