@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto&display=swap');

/*------------------------------------------- Header */

#logo {
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    margin-left: 10px;
}

.nav-item {
    font-family: "Roboto", sans-serif;
    margin-right: 10px; 
    font-size: 22px;
}    


/*------------------------------------------- Footer */

#footer {
    text-align: center;
    background-color: #757575;
    color: #fff;
    font-size: 12px;
    
}

.social-media {
    margin-top: 10px;
    margin-bottom: 5px;
}

.social-media li a i {
    color:#fff;
    width: 40px;
    font-size: 25px;
}

.copyright-text {
    margin-bottom: 10px;
}

/*------------------------------------------- Hero */

#hero-image {
    background-image: url(../images/hero-image.jpg);
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hero-outer {
    overflow: hidden;
    position: relative;
}

/*------------------------------------------- Cover Text */

#cover-text {

    background-color: rgba(200, 200, 200, 0.8);
    text-align: center;
    width: 400px;
    height: 380px;
    top: 35px;
    bottom: 100px;
    left: 35px;
    position: absolute;
}

#cover-text h2 {
    display: inline-block;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #d32f2f;
    text-align: center;
    width: 400px;
    padding-top: 5px;
    padding-bottom: 4px;
}

#cover-text h3 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
}

#cover-text h3 li {
    margin-bottom: 15px;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #d32f2f;
}

li a:hover 
{
    color: #9a0007;
}


.offers-list {
    padding-right: 32px;
}

.contact-offer {
    margin-top: 55px;
    margin-right: 10px;
}

/*------------------------------------------- Gallery */

#gallery {
    background-color: #8e8e8e;
    border: 2px solid #fff;
}

#gallery h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
}

.gallery-col img {
    height: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: #fff;
    border-width: 5px;
}

/*------------------------------------------- Equipment */

#equipment {
    background-color: #fff;
    border-style: solid;
    border-color: #fff;
}

#equipment h2 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

#equipment h3 {
    font-family: "Open Sans", sans-serif;
    color: #9a0007;
}

/*------------------------------------------- About */

.about-us {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    background-color: #8e8e8e;
    border: solid #fff;
    padding-top: 10px;
}

.about-us h2 {
    font-size: 40px;
    font-weight: 600;
}

.about-details {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    background-color: #c62828;
    border: solid #fff;
    border-top: 0;
    padding-top: 10px;
}

#map {
    height: 500px;
    width: 100%;
    border: 2px solid #fff;
}

/*------------------------------------------- Contact */

.form-section {
    background-image: url(../images/contact.jpg);
    background-size: cover;
    height: 800px;
    border: 4px solid #fff;
}

.contact-form {
    font-family: "Open Sans", sans-serif;
    width: 500px;
    margin: 30px auto auto auto;
}

.form-section h2 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

/*------------------------------------------- Classes */

.instructor-section {
    text-align: center;
}

.instructor-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #757575;
    position: relative;
}

.timetable {
    max-width: 700px;
    text-align: center;
}